[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
pip-install  = "pip install psycopg2-binary && pgcopy --no-deps &&  mkdocstrings['python']" #for timeseries orm

[packages]
alpaca-py = "*"
ccxt = "*"
cloudpickle = "*"
cryptography = "*"
fastapi = "*"
fire = "*"
google-auth = "*"
ipywidgets = "*"
joblib = "*"
matplotlib = "*"
minio = "*"
mkdocs-mermaid2-plugin = "*"
nbconvert = "*"
numexpr = "*"
opentelemetry-api = "*"
opentelemetry-exporter-otlp = "==1.16.0"
opentelemetry-sdk = "*"
pandas = "*"
pandas-market-calendars = "*"
psutil = "*"
pyarrow = "*"
pycoingecko = "*"
pydantic = "*"
pytest = "*"
pytest-freezegun = "*"
python-binance = "*"
python-dotenv = "*"
python-logstash = "*"
pyyaml = "*"
quantstats = "*"
ray = "*"
s3fs = "*"
scikit-learn = "*"
scipy = "*"
structlog = "*"
tqdm = "*"
uvicorn = "*"
colorama = "*"
fredapi = "*"
polygon-api-client = "*"
kaleido = "*"
newspaper3k = "*"
lxml-html-clean = "*"
docstring-parser = "*"
concurrent-log-handler = "*"
duckdb = "*"
plotly = "*"

[dev-packages]
mkdocs = "*"
mkdocs-material = "*"
mkdocs-gen-files = "*"
mkdocs-literate-nav = "*"
mkdocs-autorefs = "*"
mkdocstrings = {extras = ["python"], version = "*"}
mkdocs-mermaid2-plugin = "*"
pymdown-extensions = "*"

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
